.footer-container{
    width: 90%;
    height: 5vh;
    border: 1px solid purple;
    border-radius: 10px 10px 0px 0px;
    margin-left: 5vw;
    display: flex;
    justify-content: space-between;
}
.copyright{
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 1vw;
}
.social-media{
    display:flex;
    width: 200px;
    align-items: flex-end;
    justify-content: space-evenly;
}
.icons{
    width: 2vw;
    height: 3vh;
    margin-bottom: 2px;
    cursor: pointer;
}
.links:visited{
    color: black;
}