.body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.body-container{
    width: 90%;
    height:fit-content;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    border-radius: 10px;
    display: flex;
    flex-grow: 1;
    justify-content:space-between ;
    flex-direction: column;
    gap: 25vh;
    position: relative;
    margin-top: 15vh;
    margin-bottom: 10vh;
    padding-bottom: 2rem
}
